<div *ngIf="currentSubMenu">
  <h2>图片处理 {{ currentSubMenu.name }}</h2>
  <d-row>
    <d-col [dSpan]="4">
      <app-sub-menus
        (sendCurrentSubMenu)="getCurrentSubMenu($event)"
      ></app-sub-menus>
    </d-col>
    <d-col [dSpan]="20">
      <d-row>
        <d-col [dSpan]="12">
          <d-row [dJustify]="'start'">
            <d-col>
              <d-button
                [showLoading]="showLoading"
                (btnClick)="toggleLoading()"
              >
                模拟器截屏
              </d-button>
            </d-col>
          </d-row>
        </d-col>

        <d-col [dSpan]="12">
          <d-row [dJustify]="'end'">
            <d-col>
              <d-button
                [showLoading]="showLoading"
                (btnClick)="resetCanvasImage()"
              >
              重置
              </d-button>
            </d-col>
            <d-col>
              <d-button
                [showLoading]="showLoading"
                (btnClick)="cropImage()"
              >
              截图
              </d-button>
            </d-col>
          </d-row>
        </d-col>
      </d-row>
      <d-row>
        <d-col [dSpan]="24">
          <angular-cropper  #angularCropper [cropperOptions]="cropConfig" [imageUrl]="imageToShow" (export)="angularCropperExport($event)"></angular-cropper>
          <img  [src]="cropImageData" alt="Place image title" />
        </d-col>
      </d-row>
    </d-col>
  </d-row>
</div>
