<div class="crop-image-container">
  <img [attr.src]="imageData.url" style="max-width: 800px" />
  <form dForm [layout]="layoutDirection" ngForm>
    <d-form-item>
      <d-form-label [required]="true">匹配方法选择</d-form-label>
      <d-form-control>
        <d-select [options]="matchMethodList" name="名称" [filterKey]="'名称'" [(ngModel)]="currentMethod"></d-select>
      </d-form-control>
    </d-form-item>
  </form>
  <app-image-match-form #imageMatchForm [range]="range" *ngIf="currentMethod['名称']==='图片匹配'"></app-image-match-form>
  <div class="modal-footer">
    <d-button (click)="submit()" bsStyle="primary" circled="true">提交</d-button>
  </div>
</div>