<div class="config-conent">
  <div>
    <h2>配置页面</h2>
    <d-alert [type]="'info'" [closeable]="false">
      即使删除了所有数据，重新载入界面后也会生成一条数据。
    </d-alert>
  </div>
  <div class="config-list">
    <app-execution-side-table [dataList]="executionSideInfoList" (updateInfo)="recvUpdateInfo()"></app-execution-side-table>
    <br />
    <app-simulator-table [dataList]="simulatorInfoList"></app-simulator-table>
    <br />
    <app-project-table #projectTable [dataList]="projectInfoList"></app-project-table>
  </div>
  <hr />
  <div style="padding-top: 20px;">
    <p>版本信息：{{ version }}</p>
  </div>
</div>