.config-conent {

  .config-list {
    height: 62vh;
  
  }
  .config-list:nth-child(1){
    height: 30%;
  }
  .config-list:nth-child(2){
    height: 30%;
  }
  .config-list:nth-child(3){
    height: 30%;
  }
}
