<div class=" infinite-gallery-container" *ngIf="csvDataList.length>0">
    <div NgxMasonryInfiniteGrid class="container" [gap]="5" [items]="csvDataList" [useRecycle]="false" #ig>
        <div class="item" *ngFor="let item of ig.visibleItems;let i=index">
            <d-card class="card-container">
                <img dCardMeta [src]="imgSrcList[i]" [alt]="item.data[1]" />
                <d-card-header>
                    <d-card-title class="info">{{item.data[0]+'：'+item.data[1]}}</d-card-title>
                </d-card-header>
                <d-card-content>
                    <d-tag [tag]="csvHeader[2]+'：'+item.data[2]" [labelStyle]="'blue-w98'"></d-tag>
                    <d-tag [tag]="csvHeader[3]+'：'+item.data[3]" [labelStyle]="'aqua-w98'"></d-tag>
                    <d-tag [tag]="csvHeader[4]+'：'+item.data[4]" [labelStyle]="'olivine-w98'"></d-tag>
                    <d-tag [tag]="csvHeader[5]+'：'+item.data[5]" [labelStyle]="'green-w98'"></d-tag>
                </d-card-content>
                <d-card-actions [align]="'end'">
                    <div class="card-block">
                        <d-icon [icon]="'icon-delete'" [operable]="true" (click)="onDelete(item)"></d-icon>
                    </div>

                </d-card-actions>
            </d-card>
        </div>
    </div>
</div>