@import 'ng-devui/styles-var/devui-var.scss';

:host ::ng-deep .devui-tag-item.tag-custom {
  background-color: $devui-brand;
  color: $devui-light-text;
  box-sizing: border-box;
}

d-tag {
  margin: 4px;
}


.card-icon {
  cursor: pointer;
  font-size: $devui-font-size-icon;
  margin-right: 8px;
  vertical-align: middle;
}

.card-icon+span {
  vertical-align: middle;
}

.card-block {
  margin-right: 8px;
}

.infinite-gallery-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 86vh;
  width: 100%;
  margin-bottom: 8px;
}

.item {
  display: inline-block;
  width: 18%;
  opacity: 1;
  img {
    width: 100%;
    height: auto;
  }

  .info {
    margin-top: 10px;
    font-weight: bold;
    color: #777;
  }
}

.item:hover {
  box-shadow: 0 1em 1em rgba(121, 123, 128, 0.349);
}

.item.animate {
  transition: opacity ease 1s;
  transition-delay: 0.2s;
  opacity: 1;
}