<section>
  <form dForm [layout]="vertical" ngForm>
    <d-form-item>
      <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'帮助.步骤.名称' | translate">
        名称
      </d-form-label>
      <d-form-control>
        <input dTextInput autocomplete="off" name="名称" [(ngModel)]="args['名称']" />
      </d-form-control>
    </d-form-item>

    <d-form-item>
      <d-form-label [hasHelp]="true" [helpTips]="'帮助.步骤.界面编码' | translate">
        界面编码
      </d-form-label>
      <d-form-control>
        <d-input-group >
          <d-select [allowClear]="true" class="my-method-select-width comparison-symbol"  name="界面编码-1"  [(ngModel)]="encodeObj['界面编码'][0]" [options]="defaultMethodEncode" [valueParser]="parserSelectValue" [filterKey]="'名称'" [valueKey]="'编码'"></d-select>
          <d-input-number [min]="1"  [allowEmpty]="true" name="界面编码-2"  [(ngModel)]="encodeObj['界面编码'][1]"></d-input-number>
        </d-input-group>
      </d-form-control>
    </d-form-item>

    <d-form-item>
      <d-form-label [hasHelp]="true" [helpTips]="'帮助.步骤.方法编码' | translate">
        方法编码
      </d-form-label>
      <d-form-control>
        <d-form-control>
          <d-input-group >
            <d-select class="my-method-select-width" [allowClear]="true" name="方法编码-1"  [(ngModel)]="encodeObj['方法编码'][0]" [options]="defaultMethodEncode" [valueParser]="parserSelectValue" [filterKey]="'名称'" [valueKey]="'编码'"></d-select>
            <d-input-number [min]="1"  [allowEmpty]="true" name="方法编码-2"  [(ngModel)]="encodeObj['方法编码'][1]"></d-input-number>
          </d-input-group>
        </d-form-control>
      </d-form-control>
    </d-form-item>

    <d-form-item>
      <d-form-label  [hasHelp]="true" [helpTips]="'帮助.步骤.行为编码' | translate">
        行为编码
      </d-form-label>
      <d-form-control>
        <d-input-group >
          <d-select  class="my-behavior-select-width"  [allowClear]="true" name="行为编码-1"  [(ngModel)]="encodeObj['行为编码'][0]" [options]="defaultBehaviorEncode"  [valueParser]="parserSelectValue" [filterKey]="'名称'" [valueKey]="'编码'"></d-select>
          <d-input-number  [allowEmpty]="true" name="行为编码-2"  [(ngModel)]="encodeObj['行为编码'][1]"></d-input-number>
          <d-select class="my-behavior-select-width" [allowClear]="true"  name="行为编码-3"  [(ngModel)]="encodeObj['行为编码'][2]" [options]="defaultDirectionEncode" [valueParser]="parserSelectValue" [filterKey]="'名称'" [valueKey]="'编码'"></d-select>
        </d-input-group>
      </d-form-control>
    </d-form-item>

    <d-form-item>
      <d-form-label [hasHelp]="true" [helpTips]="'帮助.步骤.动后编码' | translate">
        动后编码
      </d-form-label>
      <d-form-control>
        <d-input-group >
          <d-select class="my-method-select-width" [allowClear]="true"name="动后编码-1"  [(ngModel)]="encodeObj['动后编码'][0]" [options]="defaultMethodEncode" [valueParser]="parserSelectValue" [filterKey]="'名称'" [valueKey]="'编码'"></d-select>
          <d-input-number [min]="1" [allowEmpty]="true" name="动后编码-2"  [(ngModel)]="encodeObj['动后编码'][1]"></d-input-number>
          <d-select  class="my-behavior-select-width" [allowClear]="true" name="动后编码-3"  [(ngModel)]="encodeObj['动后编码'][2]" [options]="defaultZJEncode" [valueParser]="parserSelectValue" [filterKey]="'名称'" [valueKey]="'编码'"></d-select>
          <d-input-number [min]="0" [allowEmpty]="true" name="动后编码-4"  [(ngModel)]="encodeObj['动后编码'][3]"></d-input-number>
        </d-input-group>
      </d-form-control>
    </d-form-item>

    <d-form-item>
      <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'帮助.步骤.循环次数' | translate">
        循环次数
      </d-form-label>
      <d-form-control>
        <d-input-number [min]="0" name="循环次数" [(ngModel)]="args['循环次数']"></d-input-number>
      </d-form-control>
    </d-form-item>

    <d-form-item>
      <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'帮助.步骤.循环间隔' | translate">
        循环间隔
      </d-form-label>
      <d-form-control>
        <d-input-number  [min]="0.3" [step]="0.1" name="循环间隔" [(ngModel)]="args['循环间隔']"></d-input-number>
      </d-form-control>
    </d-form-item>

  </form>
</section>

<div class="footer">
  <d-button (btnClick)="submit()" [showLoading]="btnShowLoading" bsStyle="primary" circled="true">提交</d-button>
</div>