<section>
    <form dForm [layout]="vertical" ngForm>
        <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'帮助.匹配.前编码' | translate">
                前编码
            </d-form-label>
            <d-form-control>
                <d-input-group>
                    <d-select style="width: 66px;" name="前编码-1" [(ngModel)]="beforeEncodeArr[0]"
                        (valueChange)="onChangeValue($event,'前编码')" [options]="methodEncodeList"></d-select>
                    <input dTextInput autocomplete="off" name="前编码-2" [(ngModel)]="beforeEncodeArr[1]" />
                </d-input-group>
            </d-form-control>
        </d-form-item>

        <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'帮助.匹配.后编码' | translate">
                后编码
            </d-form-label>
            <d-form-control>
                <d-input-group>
                    <d-select style="width: 66px;" name="后编码-1" [(ngModel)]="afterEncodeArr[0]"
                        (valueChange)="onChangeValue($event,'后编码')" [options]="methodEncodeList"></d-select>
                    <input dTextInput autocomplete="off" name="后编码-2" [(ngModel)]="afterEncodeArr[1]" />
                </d-input-group>
            </d-form-control>
        </d-form-item>

        <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'帮助.匹配.X偏移' | translate">
                X偏移
            </d-form-label>
            <d-form-control>
                <d-input-number name="X偏移" [(ngModel)]="args['X偏移']"></d-input-number>
            </d-form-control>
        </d-form-item>

        <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'帮助.匹配.Y偏移' | translate">
                Y偏移
            </d-form-label>
            <d-form-control>
                <d-input-number name="Y偏移" [(ngModel)]="args['Y偏移']"></d-input-number>
            </d-form-control>
        </d-form-item>
        
    </form>
</section>

<div class="footer">
    <d-button (btnClick)="submit()" [showLoading]="btnShowLoading" bsStyle="primary" circled="true">提交</d-button>
</div>