<div *ngIf="currentProject" class="image-gallery-container">
    <h2>图片展馆 {{ currentProject.name }}</h2>
    <d-row>
        <d-col [dSpan]="4">
            <app-project-menus (sendCurrentProject)="getCurrentProject($event)"></app-project-menus>
        </d-col>
        <d-col [dSpan]="20" style="padding-left: 6px;padding-right: 6px;">
            <section>
                <d-tabs type="wrapped" [(activeTab)]="tabActiveId" (activeTabChange)="activeTabChange($event)">
                  <d-tab *ngFor="let item of imageMethodList" [id]="item['名称']" [title]="item['名称']"></d-tab>
                </d-tabs>
              </section>
              <app-infinite-gallery style="padding: 0;" [methodType]="tabActiveId" [projectInfo]="currentProject"></app-infinite-gallery>
            </d-col>
    </d-row>
</div>