<div class="table-content">
  <d-button *ngIf="csvData.length>0" style="padding-right: 6px;" bsStyle="primary" [showLoading]="btnShowLoading"
    (btnClick)="saveTaskData()">保存</d-button>
  <d-button bsStyle="common" (btnClick)="addTaskData()">添加</d-button>
  <d-data-table  *ngIf="csvData.length>0" [dataSource]="csvFilterList" [size]="'md'" [fixHeader]="true" [scrollable]="true" dLoading
    [loading]="loadingTip" [backdrop]="true" [loadingStyle]="'infinity'" tableHeight="100%" [virtualMinBufferPx]="10"
    [virtualMaxBufferPx]="20" [tableOverflowType]="'overlay'">
    <thead dTableHead>
      <tr dTableRow>
        <th dHeadCell>索引</th>
        <th dHeadCell [sortable]="true" [showSortIcon]="false" (sortChange)="onSortChange($event, 0)"
          [filterList]="ordinalFilterList" [filterable]="true" [filterMultiple]="true" [filterBoxWidth]="'200px'"
          (filterChange)="filterChangeMutil($event,0)">{{ csvHeader[0] }}</th>
        <th dHeadCell [filterList]="taskNameFilterList" [filterable]="true" [filterMultiple]="true"
          [filterBoxWidth]="'200px'" (filterChange)="filterChangeMutil($event,1)">{{ csvHeader[1] }}</th>
        <th dHeadCell>{{ csvHeader[2] }}</th>
        <th dHeadCell>{{ csvHeader[3] }}</th>
        <th dHeadCell>{{ csvHeader[4] }}</th>
        <th dHeadCell>操作</th>
      </tr>
    </thead>
    <tbody dTableBody>
      <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
        <tr dTableRow>
          <td dTableCell [rowItem]="rowItem" [field]="'index'">
            <span>{{ rowIndex + 1 }}</span>
          </td>
          <td dTableCell [rowItem]="rowItem" [field]="csvHeader[0]">
            <span>{{ rowItem[0] }}</span>
          </td>

          <td dTableCell [editable]="true" [editableTip]="editableTip" [(editing)]="rowItem[csvHeader[1]+'Edit']"
            [field]="csvHeader[1]" [rowItem]="rowItem">
            <span *ngIf="!rowItem[csvHeader[1]+'Edit']">
              {{ rowItem[1] }}
            </span>
            <div *ngIf="rowItem[csvHeader[1]+'Edit']" class="edit-padding-fix">
              <input [dAutoFocus]="true" class="devui-form-control" [name]="csvHeader[1]" [(ngModel)]="rowItem[1]"
                [attr.maxlength]="100" [attr.minlength]="1" />
            </div>
          </td>

          <td dTableCell [editable]="true" [editableTip]="editableTip" [(editing)]="rowItem[csvHeader[2]+'Edit']"
            [field]="csvHeader[2]" [rowItem]="rowItem">
            <span *ngIf="!rowItem[csvHeader[2]+'Edit']">
              {{ rowItem[2] }}
            </span>
            <div *ngIf="rowItem[csvHeader[2]+'Edit']" class="edit-padding-fix">
              <d-input-number [dAutoFocus]="true" [min]="0" [name]="csvHeader[2]"
                [(ngModel)]="rowItem[2]"></d-input-number>
            </div>
          </td>

          <td dTableCell [editable]="true" [editableTip]="editableTip" [(editing)]="rowItem[csvHeader[3]+'Edit']"
            [field]="csvHeader[3]" [rowItem]="rowItem">
            <span *ngIf="!rowItem[csvHeader[3]+'Edit']">
              {{ rowItem[3] }}
            </span>
            <div *ngIf="rowItem[csvHeader[3]+'Edit']" class="edit-padding-fix">
              <d-input-number [dAutoFocus]="true" [min]="-1" [name]="csvHeader[3]"
                [(ngModel)]="rowItem[3]"></d-input-number>
            </div>
          </td>

          <td dTableCell [editable]="true" [editableTip]="editableTip" [(editing)]="rowItem[csvHeader[4]+'Edit']"
            [field]="csvHeader[4]" [rowItem]="rowItem">
            <span *ngIf="!rowItem[csvHeader[4]+'Edit']">
              {{ rowItem[4] }}
            </span>
            <div *ngIf="rowItem[csvHeader[4]+'Edit']" class="edit-padding-fix">
              <d-input-number [dAutoFocus]="true" [min]="-1" [name]="csvHeader[4]"
                [(ngModel)]="rowItem[4]"></d-input-number>
            </div>
          </td>

          <td dTableCell>
            <d-button bsStyle="text" (btnClick)="deleteData(rowIndex)">删除</d-button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </d-data-table>
</div>
<!-- 添加步骤数据对话框 -->
<ng-template #dialogContent let-modalInstance="modalInstance" let-modalContentInstance="modalContentInstance">
  <app-task-table-form [modalInstance]="modalInstance" [fileName]="fileName" [projectInfo]="projectInfo"
    [modalContentInstance]="modalContentInstance"></app-task-table-form>
</ng-template>