<d-row>
  <!-- 菜单栏 -->
  <d-col [dSpan]="5">
    <div class="menu-box">
      <d-row>
        <!-- 主菜单 -->
        <d-col [dSpan]="11">
          <div dMenu (menuItemClick)="menuBoxClick($event)" class="menu">
            <ng-container *ngFor="let m of menuList">
              <div
                dMenuItem
                [title]="m.menu.name"
                (itemClick)="menuClick( m)"
                [active]="m.menu.name === currentMenu.menu.name"
              >
                <!-- <d-icon class="devui-menu-item-icon" icon="icon-op-list" /> -->
                <span class="devui-menu-item-name over-flow-ellipsis">{{
                  m.menu.name
                }}</span>
              </div>
            </ng-container>
          </div>
        </d-col>
        <!-- 子栏 -->
        <d-col [dSpan]="13" *ngIf="subMenuList.length">
          <div dMenu (menuItemClick)="menuBoxClick($event)" class="sub-menu">
            <ng-container *ngFor="let sub of subMenuList">
              <a [routerLink]="[currentMenu.menu.name , sub.name]">
                <div
                  dMenuItem
                  [title]="sub.name"
                  (itemClick)="subMenuClick(sub)"
                  [active]="sub.name === currentSubMenu?.name"
                >
                  <!-- <d-icon class="devui-menu-item-icon" icon="icon-op-list" /> -->
                  <span class="devui-menu-item-name over-flow-ellipsis">{{
                    sub.name
                  }}</span>
                </div>
              </a>
            </ng-container>
          </div>
        </d-col>
      </d-row>
    </div>
  </d-col>
  <!-- 页面 -->
  <d-col [dSpan]="19">
    <router-outlet></router-outlet>
  </d-col>
</d-row>
