
.menu-box{
    
    .devui-menu{
        padding: 2px;
    }
    // .menu{
    // }
    .sub-menu{
        background-color:  #ffe1c7;
    }
    .devui-menu-item{
        text-align: center;
        justify-content: center;
        padding: 0;
    }
}