<!-- 菜单栏 -->
<d-row  style="height: 100%;">
  <!-- 主菜单 -->
  <d-col [dSpan]="3">
    <div class="menu-box">
      <div dMenu class="menu">
        <ng-container *ngFor="let m of menuList">
          <a [routerLink]="m.name">
            <div
              dMenuItem
              [title]="m.name"
              (itemClick)="menuClick(m)"
              [active]="m.name === currentMenu.name"
            >
              <!-- <d-icon class="devui-menu-item-icon" icon="icon-op-list" /> -->
              <span class="devui-menu-item-name over-flow-ellipsis">{{
                m.name
              }}</span>
            </div>
          </a>
        </ng-container>
      </div>
    </div>
  </d-col>
  <d-col [dSpan]="21">
    <!-- 页面 -->
    <router-outlet></router-outlet>
  </d-col>
</d-row>
