.menu-box{
    padding: 0;
    .devui-menu{
        padding: 0;
    }
    .devui-menu-item{
        text-align: center;
        justify-content: center;
        padding: 2px;
        margin: 0;
        margin-bottom: 4px;
    }
}