<div class="crop-image-container">
  <img [attr.src]="data.image" style="max-width: 800px" />
  <!-- <div>{{ data.info.x }}</div>
  <div>{{ data.info.y }}</div> -->
  <form dForm [layout]="layoutDirection" ngForm >
    <d-form-item>
      <d-form-label [required]="true">匹配方法选择</d-form-label>
      <d-form-control>
        <d-select
          [options]="selectOptions"
          name="名称"
          [filterKey]="'名称'"
          [(ngModel)]="currentImageMethod"
          (valueChange)="changeImageMethod()"
        ></d-select>
      </d-form-control>
    </d-form-item>
  </form>
  <div *ngFor="let item of inputList">
    <app-input-switch [currentItem]="item"></app-input-switch>
  </div>
  <!-- <div>name: {{ data.name }}</div>
    <div>age: {{ data.age }}</div>
    <div>address: {{ data.address }}</div> -->
</div>
