<div *ngIf="currentProject" class="image-process-container">
  <h2>图片处理 {{ currentProject.name }}</h2>
  <d-row>
    <d-col [dSpan]="4">
      <app-project-menus
          (sendCurrentProject)="getCurrentProject($event)"
        ></app-project-menus>
    </d-col>
    <d-col [dSpan]="20" style="padding-left: 6px;padding-right: 6px;">
      <d-row style="margin-bottom: 6px;">
        <d-col [dSpan]="12">
          <d-row [dJustify]="'start'">
            <d-col>
              <d-button
                [showLoading]="showLoading"
                (btnClick)="toggleLoading()"
              >
                模拟器截屏
              </d-button>
            </d-col>
          </d-row>
        </d-col>

        <d-col [dSpan]="12">
          <d-row [dJustify]="'end'">
            <d-col>
              <section class="btn-group">
                <d-button  bsStyle="primary" (btnClick)="resetCanvasImage()">
                  重置
                </d-button>
                <d-button  bsStyle="common" (btnClick)="cropImage()">
                  截图
                </d-button>
              </section>
            </d-col>
            
           
          </d-row>
        </d-col>
      </d-row>
      <d-row>
        <d-col [dSpan]="24">
          <angular-cropper
            #angularCropper
            [cropperOptions]="cropConfig"
            [imageUrl]="rowImageUrl"
            (export)="angularCropperExport($event)"
          ></angular-cropper>
          <!-- <img [src]="cropImageData" alt="Place image title" /> -->
        </d-col>
      </d-row>
    </d-col>
  </d-row>
</div>
