<div *ngIf="currentProject" class="image-process-container">
  <h2>图片处理 {{ currentProject.name }}</h2>
  <d-row>
    <d-col [dSpan]="4">
      <app-project-menus (sendCurrentProject)="getCurrentProject($event)"></app-project-menus>
    </d-col>
    <d-col [dSpan]="20" style="padding-left: 6px;padding-right: 6px;">
      <d-row style="margin-bottom: 6px;">
        <d-col [dSpan]="12">
          <d-row [dJustify]="'start'">
            <d-col>
              <d-button [showLoading]="showLoading" (btnClick)="toggleLoading()">
                模拟器截屏
              </d-button>
            </d-col>
          </d-row>
        </d-col>

        <d-col [dSpan]="12">
          <d-row [dJustify]="'end'">
            <d-col>
              <section class="btn-group">
                <d-toggle dTooltip [(ngModel)]="isAutoExe" (change)="onChageAutoExe($event)"
                  [content]="'帮助.图片.自动' | translate" [color]="'#50D4AB'" [size]="'lg'"></d-toggle>

                <d-button bsStyle="primary" (btnClick)="resetCanvasImage()">
                  重置
                </d-button>
                <d-button bsStyle="common" (btnClick)="cropImage()">
                  截图
                </d-button>
              </section>
            </d-col>


          </d-row>
        </d-col>
      </d-row>
      <d-row>
        <d-col [dSpan]="24">
          <angular-cropper #angularCropper [cropperOptions]="cropConfig" [imageUrl]="rowImageUrl" 
            (export)="angularCropperExport($event)" *ngIf="rowImageUrl!==undefined">
          </angular-cropper>

          <div class="image-prev">
            <div *ngIf="rowImageUrl===undefined" class="icon icon-insert-image"></div>
          </div>
        </d-col>
      </d-row>
    </d-col>
  </d-row>
</div>