<d-layout class="layout-wrapper">
    <d-header>
        <img src="assets/icons/auto-dog.png" alt="">
        <h1>自动化小犬</h1>
        <h2>我是一只成熟的小狗</h2>
    </d-header>
    <d-content>
        <d-row [dJustify]="'center'">
            <h2>相关信息</h2>
        </d-row>
        <d-row [dJustify]="'center'">
            <d-col [dSpan]="6" [dOffset]="6">
                <p class="devui-link" (click)="openUrl('https://github.com/zozero/auto-dog')">
                    自动化小犬-用户界面-GitHub
                </p>
            </d-col>
            <d-col [dSpan]="6">
                <p class="devui-link" (click)="openUrl('https://github.com/zozero/auto-dog-execute')">
                    自动化小犬-执行端-GitHub
                </p>
            </d-col>
            <d-col [dSpan]="6">

            </d-col>
        </d-row>
        <hr>
        <d-row [dJustify]="'center'">
            <h2>捐赠</h2>
        </d-row>
        <p align="center">
            <img src="assets/捐赠.png" alt="捐赠" style="border-radius:50%" />
        </p>
        <h3 align="center">贫穷常伴吾身，急需救援一波</h3>
    </d-content>
    <d-footer>
        <p align="center">
           天道之下唯有唯物
        </p>
    </d-footer>
</d-layout>