@import 'ng-devui/styles-var/devui-var.scss';

.list-group .list-group-item {
  padding: 0 8px;
  border-radius: 4px;
}

d-row {
  // white-space: nowrap;
  // overflow-x: auto;
  margin-bottom: 10px;

  d-col {
    padding: 0 6px;
  }
}

.trash-zone {
  height: 100%;
  color: $devui-danger;
  text-align: center;
  border: 1px solid $devui-danger-line;
  background: $devui-danger-bg;
  padding: 16px;

  .icon {
    font-size: 1.5em;
    margin-bottom: 8px;
  }
}


.show-drop-area ::ng-deep .dropover-scroll-area,
.color-example {
  opacity: 0.1;
}

.show-drop-area ::ng-deep .dropover-scroll-area.active,
.color-example.active {
  background: red;
}

.show-drop-area ::ng-deep .dropover-scroll-area.inactive,
.color-example.inactive {
  background: blue;
}

.drag-border {
  border: $devui-brand dashed 1px;
}

.drag-handle {
  cursor: move;

  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.drag-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.drag-hint-border {
  border: $devui-success dashed 2px;
}

.drag-over-border {
  border: $devui-warning dashed 2px;
}

.card {
  border: 1px solid $devui-dividing-line;
}

.card .card-header {
  font-size: $devui-font-size-card-title;
  padding: 10px;
}

.list-group {
  padding: 8px;
  height: 40vh;
  overflow-y: auto;
}

.list-group>li {
  width: 100%;
  min-height: 30px;
  border: 1px solid $devui-brand;
  color: $devui-text;
  margin-bottom: 5px;
  line-height: 1.5;
  background-color: $devui-base-bg;
  display: flex;
  align-items: center;
  // margin: auto;
  // padding: 8px 16px;

  justify-content: space-between;

  span {
    width: 66%;
  }

  .input-number {
    width: 52px;
  }

}

.list-group>li.selected,
:host ::ng-deep .list-group>div>li.selected {
  border: 1px solid $devui-brand;
  color: $devui-brand;
  margin-bottom: 5px;
  line-height: 1.5;
  background-color: $devui-list-item-selected-bg;
  display: flex;
  align-items: center;
}