<div *ngIf="currentProject" class="execute-plan-container">
    <h2>执行规划 {{ currentProject.name }}</h2>
    <d-row>
        <d-col [dSpan]="4">
            <app-project-menus (sendCurrentProject)="getCurrentProject($event)"></app-project-menus>
        </d-col>
        <d-col [dSpan]="20" style="padding-left: 6px;padding-right: 6px;">
            <!-- 功能按钮 -->
            <d-row class="bottom">
               <d-col>
                <d-button [disabled]="executing" style="padding-right: 6px;" bsStyle="primary" (btnClick)="onClickExecute()">执行</d-button>
                <d-button style="padding-right: 6px;" bsStyle="primary" (btnClick)="onClickProject()">查看项目状态</d-button>
               </d-col>
            </d-row>
            
            <!-- 拖拽设置周期 -->
            <d-row class="bottom">
                <app-drag-periodic #dragPeriodic [projectInfo]="currentProject" style="padding: 0;"></app-drag-periodic>
            </d-row>

            <!-- 执行的表格显示，显示状态 -->
            <d-row>
                <app-execute-edit #executeEdit ></app-execute-edit>
            </d-row>

        </d-col>
    </d-row>
</div>